
.bg {
    background-image:url('../assets/logo-mob.jpg');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}


@media (min-width:600rem) {

    .over-wrap {
        margin: 0 auto;
        width: 90vw;
        height: 80vh;
        padding: 1rem ;
        position: relative;   
        z-index: 16; 
    } 
}

@media (min-width:992px) {

    .bg {
        background-image:url('../assets/logo.jpg');
        background-size: contain;
        z-index: -1;
        }
}